<span style="font-size:100%">

수업은 모두 열심히 들으셨나요?

간혹 강의에서 언급되지 않은 내용이 문제로 나올 수 있습니다.<br>
그럴땐 강의 내용 외 문제는 구글링을 통해 해결해주세요<br></span>
<span style="font-size:80%">
(구글링 또한 개발자가 갖쳐야할 역량 중에 하나랍니다 😊)
</span>

---

<span style="font-size:80%">[문제1]<br><br></span>
```다음 중 for문으로 10번 반복하는 방법으로 올바른 것을 모두 골라주세요```

1. for i in range(10):
2. for i in range(5, 16):
3. for i in range(10, 0):
4. for i in range(20, 40, 2):
5. for i in range(1, 10, 1):

<span style="color:red">답변</span>

1번, 4번

1: 0부터 9까지 = 10개  
2: 5부터 15까지 = 11개  
3: range는 증가 방향으로 작동 -> 빈 범위  
4: 20부터 39까지, 2씩 증가 = 10개  
5: 1부터 9까지, 1씩 증가 = 9개

----

<span style="font-size:80%">[문제2]<br><br></span>
```아래 코드에서 잘못된 부분에 대해서 설명해주세요```

count = input()

for i in range(count)<br>
&emsp;&emsp;print('i의 값은', end=' ')<br>
&emsp;&emsp;print(i)<br>

<span style="color:red">답변</span>

count=int(input())  
* for 에서 range(count)를 사용하려면 count는 정수여야 합니다.  

for i in range(count):  
* 끝줄에 : 누락

----

<span style="font-size:80%">[문제3]<br><br></span>
```아래 코드를 실행 했을 때 결과물로 올바른 것을 골라주세요```

for i in reversed("python"):<br>
&emsp;&emsp;print(i, end='.')<br>

<span style="color:red">답변</span>

reversed = 뒤집기 = nohtyp  

for i in reversed("python") = n, o, h, t, y, p 순으로 반환  

print(i, end=".") i(for루프변수)를 출력, end="." 출력 끝에 . 을 붙이기  

답: n.o.h.t.y.p.

----

<span style="font-size:80%">[문제4]<br><br></span>
```리스트에 저장된 데이터를 아래와 같이 출력하세요```

오피스텔 = [ [201, 202], [301, 302], [401, 402] ]

201호<br>
202호<br>
`----`

301호<br>
302호<br>
`----`

401호<br>
402호<br>
`----`

<span style="color:red">답변</span>

In [3]:
오피스텔 = [[201,202],[301,302],[401,402]]
for i in 오피스텔: # for문 i변수 오피스텔list
    for f in i: # for문 f변수 반복하는 변수 내 값에
        print(f'{f}호') # 호 라는 문자가 같이 출력
    print('----') # 오피스텔 리스트 내 객체별로 ---- 표시

201호
202호
----
301호
302호
----
401호
402호
----

----

<span style="font-size:80%">[문제5]<br><br></span>
```ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 150원보다 큰 경우에만 종가를 출력하는 코드를 작성해주세요```

ohlc = [["open", "high", "low", "close"], [100, 110, 70, 100], [200, 210, 180, 190], [300, 310, 300, 310]]

<span style="color:red">답변</span>

In [6]:
# 종가가 150보다 큰 경우에만 종가를 출력

ohlc = [["open", "high", "low", "close"], [100, 110, 70, 100], [200, 210, 180, 190], [300, 310, 300, 310]]

for i in ohlc[1:]: # 첫번째 행을 제외 하고 반복
    close = i[3] # 종가값(인덱스3)
    if close > 150: # 150보다 큰 경우
        print(close) # 출력

190
310